<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>React Tutorial</title>

    <!-- use app.css during development -->
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}mysite/dist/app.css">
  </head>
  <body>
    <div id="content"></div>

    <!-- use vendor.js during development -->
    <script type="text/javascript" src="{{ STATIC_URL }}mysite/dist/vendor.js"></script>
    <!-- use app.js during development -->
    <script type="text/javascript" src="{{ STATIC_URL }}mysite/dist/app.js"></script>
  </body>
</html>